.env
venv/
__pycache__/
geckodriver.log
meetupsummary.egg-info/
setup.py
tests/
NOTES.md
settings_test.json
discontinued/
working_data/
notebooks/
data/runtime_backup_eventbrite.json
data/runtime_backup_meetup.json
data/events_output_SUM.csv
data/events_output.csv
data/backups
src/airtable_scripts.py
src/eventbrite_scripts.py
src/meetup_scripts.py
src/code_for_gpt.py
src/sounds.py
src/xano_scripts_backup.py
logs
```